
  <div class="container">
    <mat-card class="card card-block">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img mat-card-image [src]="test.imageUrl" alt="Photo of test">
        </div>
        <div class="container">
          <mat-card-title>{{ test.name }}</mat-card-title>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p class="center">
          {{ test.overview }}
        </p>
      </mat-card-content>
      <mat-card-actions>
            <mat-checkbox class="example-margin" [(ngModel)]="checked">I agree to start</mat-checkbox>
      </mat-card-actions>
      <div class="center-end">
        <a mat-raised-button color="primary" [disabled]="!checked" [routerLink]="['/tests', test.id]">Proceed</a>
      </div>
    </mat-card>
  </div>