h1{
    font-size: 40px;
    font-weight: 400;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding: 20px;
}